@using CraftConnect.WASM.ViewModels
<nav class="sidebar-craftsman">
    <div class="sidebar-top">
        <div class="user-profile-sidebar">
            <img class="avatar" src="https://placehold.co/40x40/FDBA74/7C2D12?text=JS" alt="@User.Name" />
            <div class="user-info">
                <span class="user-name">@User.Name</span>
                <span class="user-email">@User.Email</span>
            </div>
        </div>

        <ul class="nav-links">
            <li>
                <a href="/customer/dashboard" class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5ZM2 13.25A2.25 2.25 0 0 1 4.25 11h2.5A2.25 2.25 0 0 1 9 13.25v2.5A2.25 2.25 0 0 1 6.75 18h-2.5A2.25 2.25 0 0 1 2 15.75v-2.5ZM13.25 2A2.25 2.25 0 0 0 11 4.25v2.5A2.25 2.25 0 0 0 13.25 9h2.5A2.25 2.25 0 0 0 18 6.75v-2.5A2.25 2.25 0 0 0 15.75 2h-2.5ZM11 13.25A2.25 2.25 0 0 1 13.25 11h2.5A2.25 2.25 0 0 1 18 13.25v2.5A2.25 2.25 0 0 1 15.75 18h-2.5A2.25 2.25 0 0 1 11 15.75v-2.5Z" clip-rule="evenodd" /></svg>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/customer/project-history" class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.024a1.5 1.5 0 0 1 .108.539v1.632a1.5 1.5 0 0 1-.8 1.342l-1.63 1.085a.75.75 0 0 1-1.082-.53L2.6 6.39A1.5 1.5 0 0 1 2 4.953V3.5ZM6.25 8.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0v-5Z" clip-rule="evenodd" /><path d="M10.04 4.93A1.5 1.5 0 0 1 11.5 3.5h.648a1.5 1.5 0 0 1 1.465 1.175l.716 3.024a1.5 1.5 0 0 1 .108.539v1.632a1.5 1.5 0 0 1-.8 1.342l-1.63 1.085a.75.75 0 0 1-1.082-.53l-1.042-4.167a1.5 1.5 0 0 1 1.123-1.691ZM14.25 8.75a.75.75 0 0 0-1.5 0v5a.75.75 0 0 0 1.5 0v-5Z" /><path d="M15.96 4.93A1.5 1.5 0 0 1 17.422 3.5h1.148A1.5 1.5 0 0 1 20 4.953v1.437c0 .695-.4 1.314-1.002 1.58l-1.043 4.167a.75.75 0 0 1-1.082.53l-1.63-1.085a1.5 1.5 0 0 1-.8-1.342V8.665a1.5 1.5 0 0 1 .108-.539l.716-3.024A1.5 1.5 0 0 1 15.96 4.93Z" /></svg>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="/customer/messages" class="nav-item active">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 .75.75v8.5a.75.75 0 0 1-.75.75H2.75a.75.75 0 0 1-.75-.75v-8.5Zm.75 9.25a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75v-.01ZM6 14a.75.75 0 0 0 0 1.5h8a.75.75 0 0 0 0-1.5H6Z" clip-rule="evenodd" /></svg>
                    <span>Messages</span>
                </a>
            </li>
            <li>
                <a href="/find-craftmen" class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M10 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" /><path fill-rule="evenodd" d="M2 8a8 8 0 1 1 16 0A8 8 0 0 1 2 8Zm8-6a6 6 0 1 0 0 12A6 6 0 0 0 10 2Zm-3 6a3 3 0 1 1 6 0 3 3 0 0 1-6 0Z" clip-rule="evenodd" /></svg>
                    <span>Find Craftsmen</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-bottom">
        <a href="/customer/" class="new-project-btn">New Project</a>
        <ul class="nav-links-bottom">
            <li>
                <a href="/settings" class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M11.07 2.247a.75.75 0 0 1 .663.023l3.75 2.25a.75.75 0 0 1 .317.935l-1 3.5a.75.75 0 0 1-.9.49l-3.04-1.216a.75.75 0 0 0-.69 0L7.13 8.23l-1-3.5a.75.75 0 0 1 .316-.935l3.75-2.25a.75.75 0 0 1 .864-.022ZM9.23 11.28a.75.75 0 0 0-.442.893l.73 2.551a.75.75 0 0 0 1.482 0l.73-2.551a.75.75 0 0 0-.442-.893l-1.03-.412a.75.75 0 0 0-.588 0l-1.03.412Z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M1.5 10.5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 1 1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 1 1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 1 1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 1 1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 1 .75-.75a.75.75 0 0 1 0 1.5v3.5A2.25 2.25 0 0 1 17.75 18h-1.06a.75.75 0 0 1 0-1.5h1.06c.207 0 .375-.168.375-.375v-3.5a2.25 2.25 0 0 0-2.25-2.25a.75.75 0 0 1-.75-.75v-.01a.75.75 0 0 1 .75-.75H16A.75.75 0 0 1 16.75 9h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01A2.25 2.25 0 0 0 14.5 12.75v3.5c0 .207-.168.375-.375.375h-1.06a.75.75 0 0 1 0-1.5h1.06c.207 0 .375-.168.375-.375v-3.5A2.25 2.25 0 0 0 12.25 9a.75.75 0 0 1-.75-.75v-.01a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01A2.25 2.25 0 0 0 10.5 12.75v3.5c0 .207-.168.375-.375.375h-1.06a.75.75 0 0 1 0-1.5h1.06c.207 0 .375-.168.375-.375v-3.5A2.25 2.25 0 0 0 7.75 9a.75.75 0 0 1-.75-.75v-.01a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01A2.25 2.25 0 0 0 5.5 12.75v3.5c0 .207-.168.375-.375.375h-1.06a.75.75 0 0 1 0-1.5h1.06c.207 0 .375-.168.375-.375v-3.5A2.25 2.25 0 0 0 3.25 9a.75.75 0 0 1-.75-.75v-.01a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01A2.25 2.25 0 0 0 1.5 12.75v3.5A2.25 2.25 0 0 1 2.25 18H.75A.75.75 0 0 1 0 17.25v-3.5a.75.75 0 0 1 .75-.75H1.5Z" clip-rule="evenodd" /></svg>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="/help" class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v.5a.75.75 0 0 1-1.5 0v-.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" /></svg>
                    <span>Help</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

@code {
    [Parameter]
    public UserProfileVM User { get; set; } = new();
}
