@inherits LayoutComponentBase

<div class="login-layout-container">
    <header class="login-header">
        <a href="/" class="logo-link">
            <i class="logo-icon bi bi-tools"></i>
        </a>
    </header>

    <main class="main-login-content">
        @Body
    </main>

    <footer class="login-footer">
        <a href="/terms">Terms of Service</a>
        <span>·</span>
        <a href="/privacy">Privacy Policy</a>
    </footer>
</div>
