<footer class="landing-footer">
    <div class="footer-content">
        <div class="footer-links">
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
        </div>
        <div class="social-links">
            <a href="#" aria-label="Twitter"><svg viewBox="0 0 24 24" fill="currentColor"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H4.68l4.713 6.231L18.244 2.25Zm-1.885 17.58H17.71l-9.57-12.84H6.14l9.22 12.84Z" /></svg></a>
            <a href="#" aria-label="Instagram"><svg viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M12 2.25c-2.42 0-2.717.01-3.665.053-1.16.05-1.936.23-2.61.498a4.82 4.82 0 0 0-1.77.89 4.78 4.78 0 0 0-.889 1.77c-.269.674-.448 1.45-.498 2.61C2.26 8.283 2.25 8.58 2.25 12s.01 3.717.053 4.665c.05 1.16.23 1.936.498 2.61a4.82 4.82 0 0 0 .89 1.77 4.78 4.78 0 0 0 1.77.889c.674.269 1.45.448 2.61.498 1.18.05 1.6.053 4.665.053s3.485-.003 4.665-.053c1.16-.05 1.936-.23 2.61-.498a4.82 4.82 0 0 0 1.77-.89 4.78 4.78 0 0 0 .889-1.77c.269-.674.448-1.45.498-2.61.043-.948.053-1.245.053-4.665s-.01-3.717-.053-4.665c-.05-1.16-.23-1.936-.498-2.61a4.82 4.82 0 0 0-.89-1.77 4.78 4.78 0 0 0-1.77-.889c-.674-.269-1.45-.448-2.61-.498C15.717 2.26 15.42 2.25 12 2.25Zm0 1.5c2.372 0 2.653.01 3.59.052 1.072.048 1.65.217 2.112.41a3.28 3.28 0 0 1 1.18.81 3.28 3.28 0 0 1 .81 1.18c.193.462.362 1.04.41 2.112.042.937.052 1.218.052 3.59s-.01 2.653-.052 3.59c-.048 1.072-.217 1.65-.41 2.112a3.28 3.28 0 0 1-.81 1.18 3.28 3.28 0 0 1-1.18.81c-.462.193-1.04.362-2.112.41-.937.042-1.218.052-3.59.052s-2.653-.01-3.59-.052c-1.072-.048-1.65-.217-2.112-.41a3.28 3.28 0 0 1-1.18-.81 3.28 3.28 0 0 1-.81-1.18c-.193-.462-.362-1.04-.41-2.112-.042-.937-.052-1.218-.052-3.59s.01-2.653.052-3.59c.048-1.072.217-1.65.41-2.112a3.28 3.28 0 0 1 .81-1.18 3.28 3.28 0 0 1 1.18-.81c.462-.193 1.04-.362 2.112-.41.937-.042 1.218-.052 3.59-.052ZM12 7.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9Zm0 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm4.875-1.875a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd" /></svg></a>
        </div>
        <p class="copyright">© @DateTime.Now.Year CraftConnect. All rights reserved.</p>
    </div>
</footer>