<div class="list-item-container">
    <div class="item-info">
        <div class="item-icon-wrapper">
        <div class="item-icon-wrapper">
            <i class="item-icon bi @IconClass"></i>
        </div>
        </div>
        <span class="item-name">@ItemName</span>
    </div>
    <div class="action-buttons">
        <button class="btn-icon" @onclick="OnEdit">
            <i class="bi bi-pencil"></i>
        </button>
        <button class="btn-icon btn-delete" @onclick="OnDelete">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string ItemName { get; set; } = "Item Name";

    [Parameter]
    public string IconClass { get; set; } = "bi-box"; // Default icon

    [Parameter]
    public EventCallback OnEdit { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }
}