@using CraftConnect.WASM.ViewModels
<a href="@Attachment.DownloadUrl" class="attachment-link" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-paperclip" style="font-size: 1.25rem;"></i>
    <span>@Attachment.FileName</span>
</a>

@code {
    [Parameter]
    public AttachedDocument Attachment { get; set; } = new();
}
