<div class="chat-input-bar">
    <button class="btn btn-icon btn-attach"><i class="bi bi-plus-circle"></i></button>
    <input type="text" placeholder="Type your message..." />
    <button class="btn btn-icon btn-send"><i class="bi bi-send-fill"></i></button>
</div>