<div class="chart-container">
    <h4 class="chart-title">Project Activity</h4>
    <div class="chart-placeholder bar-chart">
        <div class="bar-group">
            <div class="bar" style="height: 80%; background-color: #3B82F6;"></div>
            <span>New</span>
        </div>
        <div class="bar-group">
            <div class="bar" style="height: 60%; background-color: #22C55E;"></div>
            <span>Completed</span>
        </div>
    </div>
</div>
