<div class="checkout-card">
    <h2 class="card-title">Payment Details</h2>
    
    <div class="form-group">
        <label for="card-number">Card Number</label>
        <div class="input-icon-wrapper">
            <i class="bi bi-credit-card-2-front-fill"></i>
            <input id="card-number" class="form-control" placeholder="0000 0000 0000 0000"
                   @bind="CardNumber" @bind:event="oninput" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="expiration">Expiration Date</label>
            <input id="expiration" class="form-control" placeholder="MM / YY"
                   @bind="ExpirationDate" @bind:event="oninput" />
        </div>
        <div class="form-group">
            <label for="cvc">
                CVC
                <i class="info-icon bi bi-question-circle-fill"></i>
            </label>
            <input id="cvc" class="form-control" placeholder="123"
                   @bind="Cvc" @bind:event="oninput" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="name-on-card">Name on Card</label>
        <input id="name-on-card" class="form-control"
               @bind="NameOnCard" @bind:event="oninput" />
    </div>
</div>

@code {
    [Parameter] public string CardNumber { get; set; }
    [Parameter] public EventCallback<string> CardNumberChanged { get; set; }
    [Parameter] public string ExpirationDate { get; set; }
    [Parameter] public EventCallback<string> ExpirationDateChanged { get; set; }
    [Parameter] public string Cvc { get; set; }
    [Parameter] public EventCallback<string> CvcChanged { get; set; }
    [Parameter] public string NameOnCard { get; set; }
    [Parameter] public EventCallback<string> NameOnCardChanged { get; set; }
}