@using CraftConnect.WebUI.Enums

<div class="toggle-container">
    <button class="toggle-btn @(SelectedType == "Craftperson" ? "active" : "")"
            @onclick="@(() => OnToggle.InvokeAsync("Craftperson"))">
        I am a Craftsperson
    </button>
    <button class="toggle-btn @(SelectedType == "Customer" ? "active" : "")"
            @onclick="@(() => OnToggle.InvokeAsync("Customer"))">
        I am a Customer
    </button>
</div>

@code {
    [Parameter]
    public string SelectedType { get; set; }

    [Parameter]
    public EventCallback<string> OnToggle { get; set; }
}