@page "/admin/email-templates"
@layout AdminLayout
@using CraftConnect.WASM.Layout.AdminPageLayouts
@using CraftConnect.WASM.ViewModels

<div class="email-template-container">
    <!-- Page Header -->
    <header class="page-header">
        <h1>Manage Email Templates</h1>
        <p class="page-description">
            Create, edit, and manage email templates for platform communications.
        </p>
    </header>

    <!-- Main Content -->
    <div class="email-layout">
        
        <!-- Column 1: Template List -->
        <div class="template-list-column">
            <button class="btn btn-primary btn-create-new">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" /></svg>
                Create New Template
            </button>
            <div class="search-input-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" /></svg>
                <input type="text" placeholder="Search templates..." />
            </div>

            <div class="template-list">
                @foreach (var template in templates)
                {
                    <div class="@($"template-item {(selectedTemplate?.Id == template.Id ? "active" : "")}")" @onclick="() => SelectTemplate(template)">
                        <div class="template-icon">
                            @GetIconForTemplate(template.Icon)
                        </div>
                        <div class="template-details">
                            <span class="template-title">@template.Title</span>
                            <span class="template-description">@template.Description</span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Column 2: Template Editor -->
        <div class="template-editor-column">
            @if (selectedTemplate != null)
            {
                <div class="editor-card">
                    <div class="form-group">
                        <label for="templateName">Template Name</label>
                        <input type="text" id="templateName" class="form-control" @bind="selectedTemplate.Title" />
                    </div>

                    <div class="form-group">
                        <label for="subjectLine">Subject Line</label>
                        <input type="text" id="subjectLine" class="form-control" @bind="selectedTemplate.Subject" />
                    </div>

                    <div class="form-group">
                        <label for="emailBody">Email Body</label>
                        <div class="wysiwyg-toolbar">
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8.53 3.653c.123-.393.45-.69.846-.838l.135-.049a1.75 1.75 0 011.69.022l.14.053c.35.132.618.39.77.74l.04.095a2.25 2.25 0 010 1.944l-.04.095a1.75 1.75 0 01-.77.74l-.14.053a1.75 1.75 0 01-1.69.022l-.135-.049a1.75 1.75 0 01-.846-.838L8.53 6.096a2.25 2.25 0 010-1.944l.04-.099zM7 6.125a.75.75 0 01.75-.75h.01a.75.75 0 010 1.5H7.75a.75.75 0 01-.75-.75zM8.5 9.125a.75.75 0 000 1.5h.01a.75.75 0 000-1.5H8.5zM7.75 12a.75.75 0 01.75-.75h.01a.75.75 0 010 1.5H7.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7 3.5A.75.75 0 017.75 3h6.5a.75.75 0 010 1.5h-2.39l-1.62 10.518a.75.75 0 01-1.48-.226L10.14 4.5H7.75A.75.75 0 017 3.5z" clip-rule="evenodd" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8.25 4.5a.75.75 0 01.75-.75h4.25a.75.75 0 010 1.5H13.5v10.5h-3V5.25H9a.75.75 0 01-.75-.75z" clip-rule="evenodd" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M5.75 6.75a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-8.5a.75.75 0 01-.75-.75zM5 10a.75.75 0 00.75.75h8.5a.75.75 0 000-1.5h-8.5A.75.75 0 005 10zm.75 3.25a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-8.5a.75.75 0 01-.75-.75z" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4 6.75a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75a.75.75 0 01-.75-.75zM4.75 10a.75.75 0 000 1.5h10.5a.75.75 0 000-1.5H4.75zM4 13.25a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M6.5 4.75A.75.75 0 017.25 4h5.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75zM7.25 8h5.5a.75.75 0 000-1.5h-5.5a.75.75 0 000 1.5zM6 11.25A.75.75 0 016.75 10.5h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 016 11.25zM6.75 14h6.5a.75.75 0 000-1.5h-6.5a.75.75 0 000 1.5z" /></svg></button>
                            <button class="toolbar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.7 8.22a.75.75 0 01.02-1.06l3.636-3.636a.75.75 0 011.06 1.06L9.317 8.75l3.099 3.1a.75.75 0 11-1.06 1.06l-3.636-3.636a.75.75 0 01-.02-1.06z" clip-rule="evenodd" /></svg></button>
                            <button class="toolbar-btn">Placeholders</button>
                        </div>
                        <textarea id="emailBody" class="form-control" rows="15" @bind="selectedTemplate.Body"></textarea>
                    </div>

                    <div class="editor-footer">
                        <button class="btn btn-secondary">Cancel</button>
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-secondary-gray">Preview</button>
                        <button class="btn btn-success">Save Changes</button>
                    </div>
                </div>
            }
            else
            {
                <div class="empty-state">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19.5 22.5a3 3 0 003-3v-9a3 3 0 00-3-3h-6V4.5a3 3 0 00-3-3h-1.5a3 3 0 00-3 3v1.5H4.5a3 3 0 00-3 3v9a3 3 0 003 3h15zM9 4.5a1.5 1.5 0 011.5-1.5h1.5a1.5 1.5 0 011.5 1.5V6H9V4.5z" /></svg>
                    <p>Select a template to view or edit</p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private List<AdminEmailTemplate> templates = new();
    private AdminEmailTemplate? selectedTemplate;

    protected override void OnInitialized()
    {
        templates = new List<AdminEmailTemplate>
        {
            new AdminEmailTemplate 
            { 
                Id = Guid.NewGuid(),
                Title = "Welcome Email", 
                Description = "Sent to new users upon registration.", 
                Icon = "welcome", 
                Subject = "Welcome to Craftsmen Connect, {{user_name}}!",
                Body = "Hi {{user_name}},\n\nWelcome to Craftsmen Connect! We're thrilled to have you join our community of skilled craftsmen and discerning customers.\n\nTo get started, we recommend completing your profile to showcase your skills and attract potential clients.\n[Complete Your Profile Button]\n\nIf you have any questions, feel free to reach out to our support team.\n\nBest,\nThe Craftsmen Connect Team"
            },
            new AdminEmailTemplate { Id = Guid.NewGuid(), Title = "Password Reset", Description = "Email for users who forgot their password.", Icon = "password" },
            new AdminEmailTemplate { Id = Guid.NewGuid(), Title = "New Service Request", Description = "Notification for craftsmen.", Icon = "request" },
            new AdminEmailTemplate { Id = Guid.NewGuid(), Title = "Project Completion", Description = "Confirmation for customers.", Icon = "completion" },
            new AdminEmailTemplate { Id = Guid.NewGuid(), Title = "Weekly Digest", Description = "Weekly updates for craftsmen.", Icon = "digest" }
        };
        selectedTemplate = templates[0]; // Select the first one by default
    }

    private void SelectTemplate(AdminEmailTemplate template)
    {
        selectedTemplate = template;
    }

    private MarkupString GetIconForTemplate(string icon)
    {
        string svgPath = icon switch
        {
            "password" => "<path fill-rule='evenodd' d='M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z' clip-rule='evenodd' />",
            "request" => "<path fill-rule='evenodd' d='M6.25 1.625a.75.75 0 011.06 0l2.97 2.97A.75.75 0 019.53 6.67H4.47a.75.75 0 01-.76-2.075l2.97-2.97zM6.25 5.125a.75.75 0 010-1.06l2.97-2.97a.75.75 0 011.06 0l2.97 2.97a.75.75 0 010 1.06l-2.97 2.97a.75.75 0 01-1.06 0L6.25 5.125z' clip-rule='evenodd' />",
            "completion" => "<path fill-rule='evenodd' d='M16.403 3.902a.75.75 0 00-1.02-.246l-6.5 3.25a.75.75 0 000 1.392l6.5 3.25a.75.75 0 001.02-.246V3.902zM3.75 3.75a.75.75 0 00-.75.75v11.5a.75.75 0 00.75.75h8.5a.75.75 0 00.75-.75V12a.75.75 0 00-1.5 0v3.5H5.25v-10h7.5v3.5a.75.75 0 001.5 0V4.5a.75.75 0 00-.75-.75h-8.5z' clip-rule='evenodd' />",
            "digest" => "<path d='M3.75 3.75A1.75 1.75 0 002 5.5v9A1.75 1.75 0 003.75 16.25h12.5A1.75 1.75 0 0018 14.5v-9A1.75 1.75 0 0016.25 3.75H3.75zM10 6a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 0110 6zm3 0a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 0113 6zm-6 3a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 017 9zm3 0a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 0110 9zm3 0a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 0113 9zm-6 3a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 017 12zm3 0a.75.75 0 01.75.75v.01a.75.75 0 01-1.5 0v-.01A.75.75 0 0110 12z' />",
            _ => "<path d='M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.161V6a2 2 0 00-2-2H3zM19 9.839l-7.759 3.879a2.75 2.75 0 01-2.482 0L1 9.839v6.412A2 2 0 003 18h14a2 2 0 002-2V9.839z' />" // Default: Welcome
        };
        return new MarkupString($"<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'><g>{svgPath}</g></svg>");
    }
}