<div class="sidebar-card">
    <h3>Still Need Help?</h3>

    <div class="contact-option">
        <div class="contact-icon live-chat">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16ZM8.25 6.75a.75.75 0 0 1 .75-.75h2a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-.75.75h-2a.75.75 0 0 1-.75-.75v-2ZM10 12.5a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5a.75.75 0 0 1 .75.75Z" clip-rule="evenodd" />
            </svg>
        </div>
        <div>
            <span class="contact-title">Live Chat</span>
            <p class="contact-desc">Chat with us live for immediate assistance.</p>
            <button class="btn-chat">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M2.5 3.5A.5.5 0 0 1 3 3h10a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H6.621l-2.87 2.693c-.122.114-.302.046-.302-.12V9H3a.5.5 0 0 1-.5-.5v-5Z" />
                </svg>
                Start Live Chat
            </button>
        </div>
    </div>

    <div class="contact-option">
        <div class="contact-icon phone-support">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-5.523 0-10-4.477-10-10V3.5Z" clip-rule="evenodd" />
            </svg>
        </div>
        <div>
            <span class="contact-title">Phone Support</span>
            <p class="contact-desc">Mon-Fri, 9am-5pm EST</p>
            <a href="tel:1-800-555-CRAFT" class="contact-link">1-800-555-CRAFT</a>
        </div>
    </div>
</div>