<div class="card-container">
    <h4 class="card-title">Quick Access</h4>
    <div class="qa-buttons">
        <a href="/admin/disputes" class="btn btn-qa-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M11.988 3.183a1 1 0 00-1.976 0l-1.72 4.1a1 1 0 00.76 1.353h4.896a1 1 0 00.76-1.353l-1.72-4.1zM3.476 10.494a1 1 0 000 1.962l4.896.73a1 1 0 001.166-.929V8.22a1 1 0 00-1.166-.929l-4.896.73zM10.494 16.524a1 1 0 00-1.962 0l-.73 4.896a1 1 0 00.929 1.166h4.038a1 1 0 00.929-1.166l-.73-4.896zM16.524 9.506a1 1 0 000-1.962l-4.896-.73a1 1 0 00-1.166.929v4.038a1 1 0 001.166.929l4.896-.73z" clip-rule="evenodd" /></svg>
            View Open Disputes
        </a>
        <div class="qa-buttons-grid">
            <button class="btn btn-qa-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z" clip-rule="evenodd" /></svg>
                Craftsmen
            </button>
            <a href="/customer/dashboard" class="btn btn-qa-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z" clip-rule="evenodd" /></svg>
                Customers
            </a>
            <button class="btn btn-qa-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" /><path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0110 6H4.75A1.25 1.25 0 013.5 4.75z" /></svg>
                Categories
            </button>
            <button class="btn btn-qa-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.868 2.884c.321-.772 1.415-.772 1.736 0l1.83 4.401 4.793.734c.854.13 1.198 1.166.576 1.78l-3.468 3.534.83 4.887c.143.84-.73 1.492-1.49 1.09l-4.27-2.308-4.27 2.308c-.76.402-1.633-.25-1.49-1.09l.83-4.887-3.468-3.534c-.622-.614-.278-1.65.576-1.78l4.793-.734 1.83-4.401z" clip-rule="evenodd" /></svg>
                Skills
            </button>
        </div>
    </div>
</div>