@using Core.SharedKernel.DTOs
@using CraftConnect.WASM.ViewModels
@inject IHttpClientFactory HttpClientFactory
@inject ILoggerFactory LoggerFactory
@inject NavigationManager NavManager

  
<div class="dashboard-section service-requests-section">
    <h3>Customer Service Requests</h3>
    @foreach (var req in Requests)
    {
        <div class="request-card">
            <div class="request-content">
                <p class="request-title">@req.Title</p>
                <p class="request-description">@req.Description</p>
            </div>
            <div class="request-actions">
                <button class="btn btn-view-details" @onclick=@(() => ViewDetails(req.Id))>View Details</button>
                <button class="btn btn-decline" @onclick=@(() => Decline(req))>Decline</button>
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public List<ServiceRequestVM> Requests { get; set; } = new();
    private ILogger<ServiceRequests> Logger => LoggerFactory.CreateLogger<ServiceRequests>();

    private void ViewDetails(Guid projectId)
    {
        try
        {
            NavManager.NavigateTo($"/projects/{projectId}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error viewing project details for project ID: {ProjectId}", projectId);
        }
    }

    private void Decline(ServiceRequestVM request)
    {
        Requests.Remove(request);
    }
}