@using CraftConnect.WASM.ViewModels
<header class="top-bar">
    <div class="search-container">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
        <input type="text" class="search-input" placeholder="Search for projects, proposals or craftsmen" />
    </div>

    <div class="profile-menu">
        <div class="profile-avatar">
            <span>@User.AvatarInitials</span>
        </div>
        <svg class="profile-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.25 4.25a.75.75 0 01-1.06 0L5.23 8.29a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
    </div>
</header>

@code {
    [Parameter]
    public UserProfileVM User { get; set; }
}
