@using Core.SharedKernel.DTOs
@using CraftConnect.WASM.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IHttpClientFactory HttpClientFactory
@inject ILoggerFactory LoggerFactory

<div class="table-card-wrapper">
    <table class="service-table">
        <thead>
            <tr>
                <th>Project Title</th>
                <th>Category</th>
                <th>Date Submitted</th>
                <th>Status</th>
                @if (!IsMini)
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Requests)
            {
                <tr>
                    <td class="cell-title">@request.ProjectTitle</td>
                    <td>@request.Category</td>
                    <td>@request.DateSubmitted.ToString("yyyy-MM-dd")</td>
                    <td><StatusLabel Status="request.Status" /></td>
                    @if (!IsMini)
                    {
                        <td><a href=@($"/projects/{request.Id}") class="action-link">View Details</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    private ILogger<ServiceRequestsTable> Logger => LoggerFactory.CreateLogger<ServiceRequestsTable>();

    [Parameter]
    public List<ServiceRequestVM> Requests { get; set; } = new();

    [Parameter]
    public Guid CustomerId { get; set; }

    [Parameter]
    public bool IsMini { get; set; } = false;    
}
