@inherits LayoutComponentBase

<div class="layout-container">
    <header class="auth-header">
        <a href="/" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M11.49 3.17a.75.75 0 0 1 1.02.07l1.13 1.292a.75.75 0 0 1-.53 1.218H10.194a.75.75 0 0 1-.53-1.218L10.8 4.33A.75.75 0 0 1 11.49 3.17ZM4.14 7.042a.75.75 0 0 1 .13-.07l3.86-2.2a.75.75 0 0 1 1.02.884l-1.13 1.292a.75.75 0 0 1-1.06 0L4.01 5.658a.75.75 0 0 1 .13-.884.75.75 0 0 1 .77.208l1.47 1.68-1.92.83a.75.75 0 0 1-.92-.653ZM15.86 7.042a.75.75 0 0 0-.13-.07l-3.86-2.2a.75.75 0 0 0-1.02.884l1.13 1.292a.75.75 0 0 0 1.06 0l2.93-3.348a.75.75 0 0 0-.13-.884.75.75 0 0 0-.77.208l-1.47 1.68 1.92.83a.75.75 0 0 0 .92-.653ZM4.14 12.958a.75.75 0 0 1 .13.07l3.86 2.2a.75.75 0 0 1-1.02.884l-1.13-1.292a.75.75 0 0 1 1.06 0l2.93 3.348a.75.75 0 0 1-.13.884.75.75 0 0 1-.77-.208l-1.47-1.68 1.92-.83a.75.75 0 0 1 .92.653ZM15.86 12.958a.75.75 0 0 0-.13.07l-3.86 2.2a.75.75 0 0 0 1.02.884l1.13-1.292a.75.75 0 0 0-1.06 0l-2.93 3.348a.75.75 0 0 0 .13.884.75.75 0 0 0 .77-.208l1.47-1.68-1.92-.83a.75.75 0 0 0-.92.653ZM10.25 10a.75.75 0 0 1 .75.75V12a.75.75 0 0 1-1.5 0v-1.25a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
            </svg>
            <span>CraftConnect</span>
        </a>
    </header>
    <main class="main-content">
        @Body
    </main>
</div>