@inherits LayoutComponentBase

<div class="login-layout-container">
    <header class="login-header">
        <a href="/" class="logo-link">
            <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12.378 1.602a.75.75 0 0 0-.756 0l-7.5 4.5A.75.75 0 0 0 3.75 7V17a.75.75 0 0 0 .372.648l7.5 4.5a.75.75 0 0 0 .756 0l7.5-4.5A.75.75 0 0 0 20.25 17V7a.75.75 0 0 0-.372-.648l-7.5-4.5Z" />
            </svg>
        </a>
    </header>

    <main class="main-login-content">
        @Body
    </main>

    <footer class="login-footer">
        <a href="/terms">Terms of Service</a>
        <span>·</span>
        <a href="/privacy">Privacy Policy</a>
    </footer>
</div>
