<header class="settings-nav-header">
    <div class="nav-content">
        <!-- Logo -->
        <a href="/" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12.378 1.602a.75.75 0 0 0-1.071 1.07L12.939 4.3a.75.75 0 0 0 1.07-1.071l-1.631-1.63ZM11.622 22.398a.75.75 0 0 0 1.071-1.07l-1.631-1.631a.75.75 0 0 0-1.07 1.071l1.63 1.63ZM4.3 12.939a.75.75 0 0 0-1.07-1.071L1.6 13.5l-1.63-1.63a.75.75 0 0 0-1.071 1.07l1.63 1.631a.75.75 0 0 0 1.071 0l1.63-1.63ZM22.398 11.622a.75.75 0 0 0-1.07 1.071l1.63 1.63a.75.75 0 0 0 1.071-1.07l-1.63-1.63ZM19.7 4.3a.75.75 0 0 0-1.071-1.07L17 4.861l-1.63-1.63a.75.75 0 0 0-1.071 1.07l1.63 1.63a.75.75 0 0 0 1.071 0l1.63-1.63ZM4.3 19.7a.75.75 0 0 0 1.07 1.071l1.63-1.63.001.001a.75.75 0 0 0-1.07-1.071l-1.63 1.63ZM7.929 7.929a.75.75 0 0 0-1.06 0L4.3 10.5l-1.63-1.63a.75.75 0 0 0-1.071 1.07l1.63 1.63a.75.75 0 0 0 1.07 0l4.63-4.63a.75.75 0 0 0 0-1.06ZM19.7 19.7a.75.75 0 0 0-1.07-1.071l-1.63 1.63-.001-.001a.75.75 0 0 0 1.07 1.071l1.63-1.63ZM16.071 7.929a.75.75 0 0 0 0 1.06l4.63 4.63a.75.75 0 0 0 1.07 0l1.63-1.63a.75.75 0 0 0-1.07-1.07l-1.63 1.63-4.63-4.63a.75.75 0 0 0-1.07 0Z" />
            </svg>
            <span>CraftConnect</span>
        </a>

        <!-- Right Side Actions -->
        <div class="nav-actions">
            <a href="/customer/dashboard" class="nav-link">Dashboard</a>
            <a href="/customer/messages" class="nav-link">Messages</a>
            <a href="/projects" class="nav-link">Projects</a>
            <a href="/settings" class="nav-link active">Settings</a>
            <button class="icon-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.54 2.37A.75.75 0 0 1 12 3v1.13c3.08.23 5.5 2.82 5.5 5.92V13.5h.75a.75.75 0 0 1 0 1.5H5.25a.75.75 0 0 1 0-1.5H6v-3.45c0-3.1 2.42-5.69 5.5-5.92V3a.75.75 0 0 1 .54-.73ZM14.5 18a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" clip-rule="evenodd" />
                </svg>
            </button>
            <button class="avatar-btn">
                <!-- User initials or image -->
            </button>
        </div>
    </div>
</header>