@inject NavigationManager Navigation

<header class="top-nav-header">
    <div class="nav-content">
        <div class="nav-left">
            <a href="/admin/dashboard" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="logo-icon">
                    <path d="M11.25 4.53v.09c0 .76.297 1.47.82 2.004l4.11-2.055a1.125 1.125 0 011.61.001l.002.002.002.002a1.125 1.125 0 010 1.59l-2.056 4.11c-.534.523-1.244.82-2.004.82h-.09a2.25 2.25 0 00-2.25 2.25v.09c0 .76-.297 1.47-.82 2.004l-4.11-2.055a1.125 1.125 0 01-1.61-.001l-.002-.002a1.125 1.125 0 010-1.59l2.056-4.11c.534-.523 1.244-.82 2.004-.82h.09A2.25 2.25 0 0011.25 4.53z" />
                    <path d="M12.75 19.53v-.09c0-.76-.297-1.47-.82-2.004l-4.11 2.055a1.125 1.125 0 01-1.61.001l-.002-.002a1.125 1.125 0 010-1.59l2.056-4.11c.534-.523 1.244-.82 2.004-.82h.09a2.25 2.25 0 002.25-2.25v-.09c0-.76.297-1.47.82-2.004l4.11 2.055a1.125 1.125 0 011.61.001l.002.002a1.125 1.125 0 010 1.59l-2.056 4.11c-.534.523-1.244.82-2.004.82h-.09a2.25 2.25 0 00-2.25 2.25z" />
                </svg>
                <span>CraftConnect</span>
            </a>
            <nav class="main-navigation">
                <NavLink href="/admin/dashboard" class="nav-link">Dashboard</NavLink>
                <NavLink href="/admin/announcements" class="nav-link">Announcements</NavLink>
                <NavLink href="/admin/users" class="nav-link">Users</NavLink>
                <NavLink href="/admin/settings" class="nav-link">Settings</NavLink>
            </nav>
        </div>
        <div class="nav-right">
            <button class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" /></svg>
                Create New Announcement
            </button>
            <div class="user-avatar">
                <img src="https://placehold.co/40x40/FDBA74/7C2D12?text=A" alt="Admin user avatar" />
            </div>
        </div>
    </div>
</header>