@using CraftConnect.WASM.ViewModels
<div class="document-row">
    <div class="file-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V8.342a2 2 0 00-.586-1.414l-4.928-4.928A2 2 0 0011.658 2H4zM10 5a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 5zM8.75 10a.75.75 0 000 1.5h2.5a.75.75 0 000-1.5h-2.5zM7.5 12.75a.75.75 0 01.75-.75h5a.75.75 0 010 1.5h-5a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
        </svg>
    </div>
    <div class="file-info">
        <span class="file-name">@Document.FileName</span>
        <span class="file-size">@Document.FileSize</span>
    </div>
    <a href="@Document.DownloadUrl" class="download-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.75 2.75a.75.75 0 00-1.5 0v8.614L6.295 8.23a.75.75 0 00-1.09 1.03l4.25 4.5a.75.75 0 001.09 0l4.25-4.5a.75.75 0 00-1.09-1.03l-2.955 3.134V2.75z" />
            <path d="M3.5 12.75a.75.75 0 00-1.5 0v2.5A2.75 2.75 0 004.75 18h10.5A2.75 2.75 0 0018 15.25v-2.5a.75.75 0 00-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5z" />
        </svg>
    </a>
</div>

@code {
    [Parameter]
    public AttachedDocument Document { get; set; }
}
