@using CraftConnect.WASM.ViewModels
<div class="document-row">
    <div class="file-icon">
        <i class="bi bi-file-earmark-text-fill"></i>
    </div>
    <div class="file-info">
        <span class="file-name">@Document.FileName</span>
        <span class="file-size">@Document.FileSize</span>
    </div>
    <a href="@Document.DownloadUrl" class="download-btn">
        <i class="bi bi-cloud-download-fill"></i>
    </a>
</div>

@code {
    [Parameter]
    public AttachedDocument Document { get; set; } = new();
}
