@using CraftConnect.WASM.ViewModels
<div class="feature-card">
    <div class="icon-wrapper">
        <i class="@Feature.IconClass feature-icon"></i>
    </div>
    <h3>@Feature.Title</h3>
    <p>@Feature.Description</p>
</div>

@code {
    [Parameter]
    public FeatureItem Feature { get; set; }
}