@using Microsoft.AspNetCore.Components.Forms

<InputFile OnChange="LoadFiles" multiple class="file-uploader" />
<div class="drop-zone @(isDragOver ? "drag-over" : "")"
     @ondragenter="SetDragOver"
     @ondragleave="ClearDragOver"
     @ondrop="ClearDragOver">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06l-3.22-3.22V16.5a.75.75 0 0 1-1.5 0V4.81L8.03 8.03a.75.75 0 0 1-1.06-1.06l4.5-4.5ZM3 15.75A.75.75 0 0 1 3.75 15h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
    </svg>
    <p>Drag & drop files here or <span class="browse-link">browse</span></p>

    <!-- Display selected file names -->
    @if (fileNames.Any())
    {
        <div class="file-list">
            @foreach (var name in fileNames)
            {
                <span class="file-name">@name</span>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public EventCallback<IReadOnlyList<IBrowserFile>> OnFilesChanged { get; set; }

    private bool isDragOver = false;
    private List<string> fileNames = new();

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isDragOver = false;
        fileNames.Clear();
        foreach (var file in e.GetMultipleFiles())
        {
            fileNames.Add(file.Name);
        }
        await OnFilesChanged.InvokeAsync(e.GetMultipleFiles());
    }

    private void SetDragOver() => isDragOver = true;
    private void ClearDragOver() => isDragOver = false;
}