<div class="toggle-card">
    <div class="toggle-content">
        <div class="toggle-icon">
            <!-- Bell Icon -->
            <i class="bi bi-bell-fill"></i>
        </div>
        <span class="toggle-title">@Title</span>
    </div>
    <label class="switch">
        <input type="checkbox" @bind="CurrentValue" />
        <span class="slider"></span>
    </label>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    private bool CurrentValue
    {
        get => Value;
        set
        {
            if (Value != value)
            {
                Value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }
}