<div class="pref-row">
    <div class="pref-content">
        <div class="pref-icon">
            @if (Icon == "message") {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M3 4.25A2.25 2.25 0 0 1 5.25 2h9.5A2.25 2.25 0 0 1 17 4.25v8.5A2.25 2.25 0 0 1 14.75 15h-3.19l-2.47 2.47a.75.75 0 0 1-1.06 0L5.56 15H5.25A2.25 2.25 0 0 1 3 12.75v-8.5Z" clip-rule="evenodd" /></svg>
            } else if (Icon == "document") {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v11.5A2.25 2.25 0 0 0 4.25 18h11.5A2.25 2.25 0 0 0 18 15.75V4.25A2.25 2.25 0 0 0 15.75 2H4.25Zm6.03 10.72a.75.75 0 0 1-1.06 1.06l-2.5-2.5a.75.75 0 0 1 0-1.06l2.5-2.5a.75.75 0 1 1 1.06 1.06L8.31 9.25h3.44a.75.75 0 0 1 0 1.5H8.31l2.97 2.97Z" clip-rule="evenodd" /></svg>
            } else if (Icon == "milestone") {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.14c.243 0 .482.02.716.058A4.5 4.5 0 0 1 12 4.5v12.42l-4.24-3.392a.75.75 0 0 0-.92 0L2.6 16.92V3.5ZM13.5 4.5a3 3 0 0 1 3-3h.14a1.5 1.5 0 0 1 1.5 1.5v13.62l-2.09-1.672a.75.75 0 0 0-.92 0l-2.09 1.672V4.5Z" clip-rule="evenodd" /></svg>
            } else if (Icon == "service") {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M11.2 5.045c.13.141.19.331.19.524V5.6a1 1 0 0 0 .7 1.28c.31.08.626.12.95.12.324 0 .64-.04.95-.12a1 1 0 0 0 .7-1.28v-.03a.75.75 0 0 1 .19-.525c.13-.14.32-.21.516-.21h.034c.196 0 .386.07.516.21.13.14.19.33.19.525v.03a3 3 0 0 1-2.1 3.84c-.31.08-.626.12-.95.12s-.64-.04-.95-.12A3 3 0 0 1 11 5.6v-.03a.75.75 0 0 1 .19-.525ZM8.8 5.045c.13.141.19.331.19.524V5.6a1 1 0 0 1-.7 1.28c-.31.08-.626.12-.95.12S6.6 6.96 6.29 6.88a1 1 0 0 1-.7-1.28v-.03a.75.75 0 0 0-.19-.525c-.13-.14-.32-.21-.516-.21h-.034c-.196 0-.386.07-.516.21C4.51 5.215 4.45 5.405 4.45 5.595v.03a3 3 0 0 0 2.1 3.84c.31.08.626.12.95.12s.64-.04.95-.12A3 3 0 0 0 10.55 5.6v-.03c0-.19-.06-.385-.19-.525C10.23 4.905 10.04 4.835 9.844 4.835h-.034c-.196 0-.386.07-.516.21ZM12 10a1 1 0 0 1 1 1v.03c0 .19.06.385.19.525.13.14.32.21.516.21h.034c.196 0 .386-.07.516-.21.13-.14.19-.33.19-.525V11a3 3 0 0 0-2.1-3.84c-.31-.08-.626-.12-.95-.12s-.64.04-.95.12A3 3 0 0 0 9 11v.03c0 .19.06.385.19.525.13.14.32.21.516.21h.034c.196 0 .386-.07.516-.21.13-.14.19-.33.19-.525V11a1 1 0 0 1 1-1Z" clip-rule="evenodd" /></svg>
            } else if (Icon == "payment") {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M3.25 4A2.25 2.25 0 0 0 1 6.25v7.5A2.25 2.25 0 0 0 3.25 16h13.5A2.25 2.25 0 0 0 19 13.75v-7.5A2.25 2.25 0 0 0 16.75 4H3.25Z" /><path d="M1 8.5h18v5.25a.75.75 0 0 1-.75.75H1.75a.75.75 0 0 1-.75-.75V8.5Z" /></svg>
            }
        </div>
        <span class="pref-title">@Title</span>
    </div>
    <div class="pref-toggles">
        <CustomNotificationCheckbox @bind-Value="Email" Label="Email" />
        <CustomNotificationCheckbox @bind-Value="InApp" Label="In-App" />
        <CustomNotificationCheckbox @bind-Value="Push" Label="Push" />
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Icon { get; set; } // "message", "document", "milestone", "service", "payment"

    [Parameter] public bool Email { get; set; }
    [Parameter] public EventCallback<bool> EmailChanged { get; set; }
    [Parameter] public bool InApp { get; set; }
    [Parameter] public EventCallback<bool> InAppChanged { get; set; }
    [Parameter] public bool Push { get; set; }
    [Parameter] public EventCallback<bool> PushChanged { get; set; }
}