<div class="stat-card">
    <span class="card-title">@Title</span>
    <h3 class="card-value">@Value</h3>
    <span class="card-change @(IsPositive ? "positive" : "negative")">
        @if (IsPositive)
        {
            <i class="bi bi-arrow-up"></i>
        }
        else
        {
            <i class="bi bi-arrow-down"></i>
        }
        @PercentageChange
    </span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string PercentageChange { get; set; }
    [Parameter]
    public bool IsPositive { get; set; }
}