<div class="card-container">
    <h4 class="card-title">Quick Access</h4>
    <div class="qa-buttons">
        <a href="/admin/disputes" class="btn btn-qa-primary">
            <i class="bi bi-exclamation-octagon-fill"></i>
            View Open Disputes
        </a>
        <div class="qa-buttons-grid">
            <button class="btn btn-qa-secondary">
                <i class="bi bi-person-gear"></i>
                Craftsmen
            </button>
            <a href="/customer/dashboard" class="btn btn-qa-secondary">
                <i class="bi bi-people-fill"></i>
                Customers
            </a>
            <button class="btn btn-qa-secondary">
                <i class="bi bi-grid-fill"></i>
                Categories
            </button>
            <button class="btn btn-qa-secondary">
                <i class="bi bi-lightning-fill"></i>
                Skills
            </button>
        </div>
    </div>
</div>