@using CraftConnect.WASM.ViewModels
<div class="card-container">
    <h4 class="card-title">Recent Activity</h4>
    <ul class="ra-list">
        @foreach (var item in ActivityItems)
        {
            <li class="ra-item">
                <div class="ra-icon @GetIconClass(item.IconType)">
                    @((MarkupString)GetIconMarkup(item.IconType))
                </div>
                <div class="ra-content">
                    <span class="ra-title">@item.Title</span>
                    <span class="ra-description">@item.Description</span>
                </div>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public List<RecentActivityItem> ActivityItems { get; set; } = new();

    private string GetIconClass(string iconType)
    {
        return iconType switch
        {
            "user" => "icon-green",
            "project" => "icon-blue",
            "milestone" => "icon-purple",
            _ => "icon-gray"
        };
    }

    private string GetIconMarkup(string iconType)
    {
        string iconClass = iconType switch
        {
            "user" => "bi-person-fill",
            "project" => "bi-folder-fill",
            "milestone" => "bi-flag-fill",
            _ => "bi-app-indicator" // Default
        };
        return $"<i class='bi {iconClass}'></i>";
    }
}