<div class="toggle-container">
    <button class="@(SelectedType == "Craftman" ? "btn-toggle active" : "btn-toggle")" @onclick="@(() => SelectType("Craftman"))">
        I am a Craftsperson
    </button>
    <button class="@(SelectedType == "Customer" ? "btn-toggle active" : "btn-toggle")" @onclick="@(() => SelectType("Customer"))">
        I am a Customer
    </button>
</div>

@code {
    [Parameter]
    public string SelectedType { get; set; }

    [Parameter]
    public EventCallback<string> OnToggle { get; set; }

    private string GetButtonClass(string userType)
    {
        return SelectedType == userType ? "btn-toggle active" : "btn-toggle";
    }

    private async Task SelectType(string userType)
    {
        SelectedType = userType;
        await OnToggle.InvokeAsync(userType);
    }
}
