.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
    user-select: none;
    color: #475569; /* Slate-600 */
}

    /* Hide the browser's default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: relative;
    height: 18px;
    width: 18px;
    background-color: #FFFFFF;
    border: 1px solid #CBD5E1; /* Slate-300 */
    border-radius: 4px;
    transition: all 0.1s;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #F8FAFC; /* Slate-50 */
}

/* When the checkbox is checked, add an orange background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #F97316; /* Orange-500 */
    border-color: #F97316;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}