<div class="toggle-card">
    <div class="toggle-content">
        <div class="toggle-icon">
            <!-- Bell Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path fill-rule="evenodd" d="M11.54 2.37A.75.75 0 0 1 12 3v1.13c3.08.23 5.5 2.82 5.5 5.92V13.5h.75a.75.75 0 0 1 0 1.5H5.25a.75.75 0 0 1 0-1.5H6v-3.45c0-3.1 2.42-5.69 5.5-5.92V3a.75.75 0 0 1 .54-.73ZM14.5 18a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" clip-rule="evenodd" />
            </svg>
        </div>
        <span class="toggle-title">@Title</span>
    </div>
    <label class="switch">
        <input type="checkbox" @bind="CurrentValue" />
        <span class="slider"></span>
    </label>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    private bool CurrentValue
    {
        get => Value;
        set
        {
            if (Value != value)
            {
                Value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }
}