@page "/fgdhjshhdjsk"
@using CraftConnect.WASM.Components.IndexPageComponents

<div class="landing-page-container">
    <Navbar />
    <HeroSection />

    <FeatureSection Title="For Craftsmen"
                    Description="Expand your reach and grow your business with CraftConnect.">
        <FeatureItems>
            <FeatureItem IconClass="bi bi-tools" Title="Showcase Your Skills" Description="Create a detailed profile highlighting your expertise and your work." />
            <FeatureItem IconClass="bi bi-search" Title="Connect with Clients" Description="Receive project inquiries directly from potential clients." />
            <FeatureItem IconClass="bi bi-columns-gap" Title="Manage Your Projects" Description="Track project progress and communicate effectively with clients." />
        </FeatureItems>
    </FeatureSection>

    <FeatureSection Title="For Customers"
                    Description="Find skilled craftsmen and bring your ideas to life with CraftConnect.">
        <FeatureItems>
            <FeatureItem IconClass="bi bi-hand-thumbs-up" Title="Find the Right Craftsman" Description="Browse profiles and portfolios to find the perfect match for your project." />
            <FeatureItem IconClass="bi bi-diamond" Title="Collaborate Seamlessly" Description="Communicate directly with craftsmen and track project progress." />
            <FeatureItem IconClass="bi bi-star" Title="Rate and Review" Description="Share your experience and help others find quality craftsmen." />
        </FeatureItems>
    </FeatureSection>

    <CallToActionSection />
    <Footer />
</div>